.navBar {
  display: flex;
  justify-content: space-between;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.logo {
  padding: 0.5rem 1.6rem;
}
li {
  padding: 1.2rem 2rem 0 2rem;
  list-style: none;
}
li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}
li a:hover {
  color: #02385e;
}
.home-container {
  margin-bottom: 3.5rem;
}
.header {
  background: url("../assets/layout-img/underwater.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 45%;
  height: 100%;
}
.header h1 {
  letter-spacing: 2px;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding-top: 5rem;
  color: #99daff;
  text-decoration: none;
  text-shadow: 2px 2px black;
}
.header .contactBtn {
  padding: 2rem 0 3rem 0;
  text-align: center;
}
h2 {
  padding: 2rem;
  color: #02385e;
  font-size: 2rem;
  text-align: center;
}
.intro {
  text-align: center;
  font-size: 1.1rem;
}
.services {
  font-size: 2.3rem;
  text-decoration: underline;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-shadow {
  max-width: 345px;
  -webkit-box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
}
.service-header {
  background: url("../assets/layout-img/watertank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 45%;
  height: 100%;
  padding: 6.2rem;
}
h1 {
  letter-spacing: 2px;
  font-size: 3rem;
  margin: 0 0 0 2.5rem;
  color: #02385e;
  text-decoration: underline;
}
.services-container {
  padding: 2.6rem;
}
.service-content {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.content-container {
  padding: 2.54rem;
}
.content-container p {
  font-size: 1.2rem;
}
.corner-img {
  width: 30%;
  margin: 1.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
}
.service-list li {
  list-style: disc;
}
.service-btn a {
  margin: 0.5rem;
}
.contact-header {
  background: url("../assets/layout-img/blue_fish.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 58%;
  height: 100%;
  padding: 6.2rem;
}
.contact-h1 {
  text-decoration: none;
  margin: 1rem 0 0 0;
}
.contact-container {
  display: flex;
  justify-content: space-evenly;
}
.contact-container img {
  margin: 5rem;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
}
.contact-content {
  margin: 2rem;
  padding: 1.5rem;
}
.contact-content h2 {
  padding: 0;
  text-align: left;
}
.contact-content p {
  font-size: 1.2rem;
}
.contact-content ul {
  padding: 0;
  margin: 0;
}
.contact-content ul li {
  font-size: 1.2rem;
}
.contact-content ul li a {
  font-size: 1.2rem;
}
span {
  font-weight: bold;
  font-size: 1.2rem;
}
.footer-container {
  text-align: center;
}
.footer-contact {
  background-color: #02385e;
  color: white;
  padding: 3.5rem;
}
.footer-contact p {
  margin: 0 8rem;
  font-size: 1.2rem;
}
.footer-contact p a {
  color: white;
  text-decoration: none;
}
.footer-nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.footer-nav img {
  margin-top: 0.5rem;
  width: 20%;
}
.footer-nav div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0;
}
.footerLinks {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
body {
  font-family: "Roboto", sans-serif;
}
