.header {
  background: url("../assets/layout-img/underwater.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 45%;
  height: 100%;
  h1 {
    letter-spacing: 2px;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding-top: 5rem;
    color: @HeadFont;
    text-shadow: 2px 2px black;
  }
  .contactBtn {
    padding: 2rem 0 3rem 0;
    text-align: center;
  }
}

h2 {
  padding: 2rem;
  color: @MainFont;
  font-size: 2rem;
  text-align: center;
}

.intro {
  text-align: center;
  font-size: 1.1rem;
}

.services {
  font-size: 2.3rem;
  text-decoration: underline;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-shadow {
  max-width: 345px;
  -webkit-box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
}
