.header {
  background: url("../assets/layout-img/underwater.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100%;
  h1 {
      letter-spacing: 2px;
      font-size: 3rem;
      text-align: center;
      margin: 0;
      padding-top: 5rem;
      color: white;
      text-shadow: 2px 2px black;
  }
  .contactBtn {
      padding: 2rem;
      text-align: center;
  }
}
